{% extends './body.html' %}


{% block title %} Book List {% endblock %}

{% block container %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>{{ data.title }}</h1>
    </div>
</div>
<hr/>
<div class="row">
    {% for book in data.bks %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <!--{% set url = 'img/books' + book.isbn + '.jpg' %} En caso de trabajar con muchas imagenes con isbn como nombre-->
                <img src="{{ url_for('static', filename='img/books/isbn.jpg') }}" height="320" width="auto" alt="{{ book.bookTitle }}" class="card-image-top">
                <h5 class="card-title">
                    {{ book.bookTitle }}
                    <span style="float-right">${{ book.price }}</span>
                </h5>
                <p class="card-text">
                    {{ book.idAuthor.fullname() }}
                </p>
                <p class="card-text">
                    isbn: {{ book.isbn }}
                </p>
    
            </div>
            <button type="button" id="{{ book.isbn }}" class="btn btn-primary btn-block btn-buy-book">Buy</button>
        </div>
    </div>
    {% endfor %}

    <input type="hidden" name="csrf-token" value="{{ csrf_token() }}">

</div>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='lib/sweetalert2-9.10.0/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/notificationSwal.js') }}"></script>
<script src="{{ url_for('static', filename='js/list_books.js') }}"></script>
{% endblock %}