{% extends './body.html' %} 

{% block title %} Index {% endblock %}

{% block container %}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>Fer Mavec's Store</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            Hello {{ current_user.userName }}!, {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2>{{ data.title }}</h2>
        <hr/>
    </div>
    {% if current_user.idUserAccess == 1 %}
        
        {% if data.sold_items|length > 0 %}
        
        {% else %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3>There are no sold items</h3>
        </div>
        {% endif %}
    {% else %}
        {% if data.my_books|length > 0 %}
        {% for purchase in data.my_books %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <img src="{{ url_for('static', filename='img/books/isbn.jpg') }}" height="320" width="auto" alt="book_image" class="card-image-top">
                    <h5 class="card-title">
                        {{ purchase.isbn.bookTitle }} 
                        <span style="float-right;">${{ purchase.isbn.price }}</span>
                    </h5>
                    <p class="card-text">
                        isbn: {{ purchase.isbn.isbn }}
                    </p>
                    <p class="card-text">
                        Date of purchase: {{ purchase.transactionDate }}
                    </p>
    
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3>There are no books in your library</h3>
            </div>
        {% endif %}    
    {% endif %}
</div>
{% endblock %}