<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">Fer Mavec Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
          {% if current_user.idUserAccess.idUserAccess == 2 %}
          <a class="nav-link" href="{{ url_for('list_books') }}">Books</a>
          {% endif %}
          <a class="nav-link disabled" href="{{ url_for('login') }}">Login</a>
        </div>
      </div>
      <span class="navbar-text ml-auto">
        <strong style="margin: auto"></strong>{{ current_user.userName }} ({{ current_user.idUserAccess.accessType.capitalize() }})</strong>
      </span>   
      <span>
      <a class="nav-link" style="margin: 5px" href="{{ url_for('logout') }}">Logout</a>    
    </span>
    </div>
  </nav>